.ft-c{
    /* border: 2px solid black; */
    text-align: center;
    width: 100vw;
    height: 7vh;
    overflow: hidden;
    background-color:#1976d2;
    margin: 0;
}

.ft-m-c{
    /* border: 2px solid red; */
    display: inline-block;
    width: 50%;
    height: 100%;
}

h6{
    padding: 0;
    margin-top: 15px;
}