
h1{
    color: #1976d2;
    margin-bottom: 2px;
}
#Login-main-container{
    display: flex;
    justify-content: center;     
}

.Login-container{
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 400px;
}
/* 
.Login-container::before{
    content: " ";
    background-image: url("./login-bg.jpg");
    background-size: cover;
    height: 85vh;
    position: absolute;
    top: 48px;
    width: 100vw;
    z-index: -1;
    opacity: 0.9;
    min-height: 400px;
} */

.text-field-container{
    margin: 15px;
}

.text-btn-container{
    margin: 25px;
}

.main-container{
    width: 45%;
    border-radius: 8px;
    text-align: center;
    min-width: 250px;
    
}

.showPassword{
    position: absolute;
    padding: 7.8px;
    margin-left: -38px;
    opacity: 0.6;
    /* border: 1px #6c6b6b solid;
    border-radius: 100px; */
   
}

.text-deleteBtn-container{
    position: absolute;
    bottom: 8%;
    right: 1%;
}


@media only screen and (max-height:500px) {
    .text-deleteBtn-container{
    display: none;
    }
}


