.container{
    height: 8vh;
    min-height: 40px;
    max-height: 10vh;
    position: sticky;
    width: 100%;
    background-color: #1976d2;
    /* overflow: hidden; */
}

.container_2{
    /* border:2px solid rgb(232, 20, 20); */
    height: 100%;
    width: 60%;
    display: inline-block;
    overflow: hidden;
}
.img-container{
    height: 100%;
    width: 2%;
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
}

.img-main-container{
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    /* border: 1px solid white; */
    height: 50%;
    width: 100%;
    border-radius: 20px;
    filter: invert(1);
}

.space2{
    height: 100%;
    width: 10%;
    display: inline-block;
}

.container_3{
    /* border:2px solid rgb(28, 14, 227); */
    height: 100%;
    width: 24%;
    display: inline-block;
    overflow: hidden;
}

.btn-container{
    /* border:2px solid rgb(232, 20, 20); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#btn0{
    font-size: 0.580rem;
    padding: 2px 4px;            
}

.heading-container{
    /* border:2px solid rgb(232, 20, 20); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-main-container{
    /* border:2px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    overflow: hidden;
}



.link{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:810px){

    #btn2{
        font-size: 0.488rem;
    }
    #btn1{
        font-size: 0.480rem;
        /* padding: 2px 4px;             */
    }
}


@media only screen and (max-width:670px){
    .icon{
        display: none;
    }
    .space2{ 
        width: 5%;
    }
    .btn-main-container{
        margin-right: 5px;
    }
    .container_3{
        margin-left:5%;
    }
    #btn0{
        font-size: 0.480rem;
        padding: 2px 4px;            
    }
    #btn1{
        font-size: 0.400rem;
        /* padding: 2px 4px;             */
    }
    #btn2{
        font-size: 0.400rem;
        /* padding: 2px 4px; */
    }
    #h1{
        font-size: 0.580rem;
    }
    #h2{
        font-size: 0.580rem;
    }
    #h3{
        font-size: 0.580rem;
    }
    #h4{
        font-size: 0.580rem;
    }
}

@media only screen and (max-width:480px){
    .icon{
        display: none;
    }
    #btn1{
        font-size: 0.280rem;           
    }
    #btn2{
        font-size: 0.280rem;
    }
    #h1{
        font-size: 0.280rem;
    }
    #h2{
        font-size: 0.280rem;
    }
    #h3{
        font-size: 0.280rem;
    }
    #h4{
        font-size: 0.280rem;
    }
    #logout{
        display: none;
        }

    #login{
        display: none;
        }
    
    #signup{
        display: none;
    
    }
}


#login{
    font-size: 15px;
    /* border: 1px solid black; */
    
}

#signup{
    font-size: 15px;

}